@import 'variables';

.slider {
  min-height: 300px;
  width: 100%;

  background-color: $dark-color;
  display: flex;
  flex-direction: column;
  justify-content: start;

  &__title {
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    background-color: #fff;
    color: $text-color;
    h2 {
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
    }
  }
  &__rews {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $body-color;
  }
}
.rew__item {
  width: 100%;
  min-height: 200px;
  color: $light-color;
  font-size: 1rem;
  padding: 0 15%;
  margin: 30px 0;
  &__content {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 10%;
    width: 100%;
    letter-spacing: 1px;
    margin-bottom: 15px;

    @media (max-width: 455px) {
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
    &__stars {
      margin-right: 15px;
    }
    i {
      &::before {
        font-size: 1rem;
        height: 100%;
        color: yellow;
      }
    }
  }
}

// carousel

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.carousel-item.active {
  display: block;
}
.carousel-item-next {
  display: block;
}
.carousel-item-prev {
  display: block;
}
.carousel-control-prev {
  left: 0;
}
.carousel-control-next {
  right: 0;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1 px !important;
  height: 1 px !important;
  padding: 0 !important;
  margin: -1 px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.carousel-item-next {
  display: block;
}
.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
  transform: translateX(-100%);
}
.active.carousel-item-end,
.carousel-item-next:not(.carousel-item-start) {
  transform: translateX(100%);
}
