@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$dark-color: #003049;
$light-color: #fafcff;
$text-color: #162b56;
$black-color: #201c1d;
$body-color: #e9ecef;
$grey-color: #f5f3f4;
$succes-color: #27a300;
$warning-color: #ff0000;
$maingreen-color: rgba(132, 181, 66, 1);
